doctype html
html(ng-app="dayJobs")
    head
        include partials/head.jade
    body(ng-controller="LoginController")
        section
            .container
                .row
                    .col-xs-12.col-sm-12
                        form(role='form')
                            .form-group
                                label(for='firstname') First Name:
                                    input#firstname.form-control(type='text', placeholder='first name', ng-model='user.firstname')
                            .form-group
                                label(for='pwd') Last Name:
                                    input#lastname.form-control(type='text', placeholder='last name ', ng-model='user.lastname')
                                .checkbox
                                label
                                    input(type='checkbox')
                                    | Remember me
                            .text-center
                                button.btn.btn-default(type='submit', ng-click='submit()') Submit
